[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

Flask = ">=0.12,<1.1"
"Flask-Assets" = "*"
"Flask-Cache" = "*"
"Flask-DebugToolbar" = "*"
"Flask-Login" = "*"
"Flask-SQLAlchemy" = "*"
"Flask-Script" = "*"
"Flask-WTF" = "*"
"Flask-SimpleLDAP" = "*"
celery = "*"
itsdangerous = "*"
cssmin = "*"
jsmin = "*"
"boto3" = "*"
"python-etcd" = "*"

[dev-packages]
pytest = "*"
"pytest-cov" = "*"
"flake8" = "*"
