{% extends "base.html" %}

{% block title %}Test Bench :: Test Beds{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Test Beds</h1>

            <div class="panel-group" id="accordion-testbed" role="tablist" aria-multiselectable="true">
            {% for testbed_id in testbeds %}
                {% set testbed = testbeds[testbed_id] %}
                {% include 'testbench/testbed_panel.html' %}
            {% endfor %}
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}
