<div class="panel panel-default {% if testbed['user'] %}panel-success{% endif %}">
    <div class="panel-heading" role="tab" id="testbed-heading-{{ testbed_id }}">
        <h4 class="panel-title">
            <a class="collapsed in" role="button" data-toggle="collapse" data-parent="#accordion-testbed" href="#content-{{ testbed_id }}" aria-expanded="false" aria-controls="content-{{ testbed_id }}">
                {{ testbed_id }}
            </a>
        </h4>
    </div>
    <div id="content-{{ testbed_id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ testbed_id }}">
        <div class="panel-body">
            <!-- Info -->
            <div class="col-md-11">
                <!-- Properties -->
                <h5><b>Properties</b></h5>
                <ul>
                {% for prop in testbed['properties'] %}
                    <li><b>{{ prop }}</b>: {{ testbed['properties'][prop] }}</li>
                {% endfor %}
                </ul>

                {% if testbed['user'] %}
                    <!-- Instance info -->
                    <h5><b>Instance</b></h5>
                    <ul>
                        <li><b>user</b>: {{ testbed['user']['name'] }}</li>
                        {% for prop in testbed['instance'] %}
                            <li><b>{{ prop }}</b>: {{ testbed['instance'][prop] }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <!-- Buttons -->
            <div class="col-md-1">
                <a href="{{ url_for('testbench.testbed_edit', testbed_id=testbed_id) }}" type="button" class="btn btn-default" aria-label="Left Align">
                    Edit
                </a>

                {% if not testbed['user'] %}
                    <a href="{{ url_for('testbench.testbed_launch', testbed_id=testbed_id) }}" id="testbed-launch-{{ testbed_id }}" type="button" class="btn btn-default btn-success" aria-label="Left Align">
                        Launch!
                    </a>
                {% else %}
                    <a href="{{ url_for('testbench.testbed_destroy', testbed_id=testbed_id) }}" id="testbed-destroy-{{ testbed_id }}" type="button" class="btn btn-default btn-danger" aria-label="Left Align">
                        Destroy!
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>