{% extends "base.html" %}

{% block title %}uFarm :: List{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">uFarm</h1>
        </div>
        <!-- /.col-lg-12 -->

        <div class="col-lg-12">
            <h3>Status</h3>
            <div class="panel panel-success">
                <table class="table">
                    <tr><th>AWS Link</th><td>OK</td></tr>
                </table>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}